{% extends "./base.html" %}
{% block title %}
    Inicio
{% endblock %}

{% block body %}
<center>
    <article>
                <p class="animate__animated animate__pulse animate__infinite"
                    style="font-family: 'Comic Sans MS', sans-serif; font-size: 50px; ">SITU - LOJA</p><br>
               

                {% load static %}
                <img src="{% static 'logo.png' %}" alt="No se encontro imagen no encontrada" width="350" height="220"><br><br>
                Bienvenido al sistema de prueba de SITU
                <br><br>
                <b>
                    INTEGRANTES:
                </b>
                <br><br>
                <h5>Janneth Guamán</h5>
                <h5>Lenin Quizhpe</h5>
                <h5>Fernando León</h5>

                </p>
                
            </article>        
    </center>
{% endblock body %}